    <mdb-card
    

      [ngStyle]="{'background-image': 'url('+store.movieInfo.Poster+')'}"
      class="card-image"
    >
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 justify-content-center">
        <div>
          <h5 class="pink-text">
            <mdb-icon fas icon="chart-pie"></mdb-icon>
            {{store.movieInfo.Type}}
          </h5>
          <h3 class="card-title pt-2"><strong>{{store.movieInfo.Title}}</strong></h3>
          <h3 class="card-title pt-2"><strong>{{store.movieInfo.Year}}</strong></h3>

          <p>
           
          </p>
        
        </div>
      </div>
      <!-- Content -->
    </mdb-card>
   